/* Header css */

.nav1{
  align-items: space-around !important;
  margin-left: 30%;


}
/* Footer css */
.main-footer{
 background-image: "https://www.moh.gov.ps/portal/insurance-footer-background/" !important;
 align-items: space-around;
}
.fooerimg{
  height: 150px;
  width: 150px;
}

.container1{
  background-color: rgb(171, 196, 203);
  color: rgb(45, 42, 42);
  align-items:space-between;
  padding:15px;
  padding-left:50px;
 
}
.Socialimg{
  height: 35px;
  width: 35px;
}
.socialmedia{
  display: inline-block;
  justify-content:flex-start;
}